extends layout

block content
  div.row-fluid
    div.span6
      a(href=imageUrl, target='_blank')
        img(src=imageUrl, class='image')
    div.span6
      div.row-fluid
        div.span12
          h1 #{question}
      
      form.row-fluid.answers(action=settings.config.http.route.submit, method='POST')
        div.span6
          input.btn.btn-primary.answer.yes(type='submit', name='yes', value=settings.config.phrases.yes)
        div.span6
          input.btn.btn-danger.answer.no(type='submit', name='no', value=settings.config.phrases.no)
        
        input(type='hidden', name='imageId', value=imageId)
        input(type='hidden', name='word', value=word)
        input(type='hidden', name='antispam', value=antispam)